*,*:before,*after{
	box-sizing: border-box;
	position: relative;
}

html,body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: lightgray;
	/*width: 100%;*/
}
main{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 75%;
}
section{
	background: #fff;
	padding: 10px;
	margin: 7px;
}
.sec1{
	width: 60%;
}
.sec1 p{
	font-size: 15px;
}
.sec2{
	display: flex;
	width: 30%;
}
.sec2 div{
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.sec2 div img{
	width: 80px;
}
.sec2 div:first-child img{
	width: 100px;
	margin: 10px;
}
.sec2 div p{
	font-size: 11px;
	text-align: center;
}
.sec3{
	width: 30%;
	font-family: serif italic;
}
.sec3 img{
	width: 49%;	
}
.sec3 p:last-child{
	text-align: right;
}
.sec4{
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	font-size: 60%;
	margin: 5px;
	padding: 15px;
}
.sec4 h2{
	margin-top: 3px;
	margin-bottom: 15px;
}
.sec4 h3{
	font-size: 115%;
	position: relative;	top:0px;	left: 5px;
}
.sec4 div h3{
	margin-bottom: 0;
}
.sec4 div ul{
	position: relative;top: 0px;	left: 5px;
	list-style: inside none;
	padding: 0;
	margin-top: 2px;
}
.sec4 div ul li{
	font-size: 11px;
}
.sec4 div ul li:before{
	content: "- ";
}
.sec4 div img{
	display: flex;
	position: relative;	top:0px;	left: 15px;
	/*align-self: center;*/
	width: 75%;
}
.sec4 img{
	width: 100%;
}
.sec5{
	display: flex;
	flex-wrap: wrap;
	width: 44.95%;
	/*font-size: 15px;*/
	/*padding: 15px;*/
}
.sec5 h3{
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 15px;
}
.sec5 p{
	margin-top: 2px;
	font-size: 15px;
	/*margin-bottom: 0;*/
}
.sec6{
	width: 26%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.sec6 h3{
	width: 100%;
	font-size: 15px;
	margin-top: 5px;
	/*padding: 5px;*/
	margin-bottom: 0px;
}
.sec6 img{
	width: 85%;
}
.sec7{
	width: 15.6%;
}
.sec7 h3{
	margin-top: 5px;
	font-size: 15px;
}
.sec7 ul{
	display: flex;
	flex-direction: column;
	list-style:none;
	padding: 0px;
	margin-bottom: 0;
}
.sec7 ul li{
	color: blue;
	margin-bottom: 8px;
}
.sec7 ul li:before{
	content: "• "
}