*,*:before,*after{
	box-sizing: border-box;
	position: relative;
}

html,body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: lightgray;
	/*width: 100%;*/
}
main{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 75%;
}
section{
	background: #fff;
	padding: 10px;
	margin: 7px;
}
.sec1{
	width: 60%;
}
.sec1 p{
	font-size: 15px;
}
.sec2{
	display: flex;
	width: 30%;
}
.sec2 div{
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.sec2 div img{
	width: 80px;
}
.sec2 div:first-child img{
	width: 100px;
	margin: 10px;
}
.sec2 div p{
	font-size: 11px;
	text-align: center;
}
.sec3{
	width: 30%;
}
.sec3 img{
	width: 45%;	
}
.sec4{
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	font-size: 60%;
}
.sec4 div ul li{
	font-size: 11px;
}
.sec4 div img{
	display: flex;
	align-self: center;
	width: 75%;
}
.sec4 img{
	width: 100%;
}