*,*:before,*after{
	box-sizing: border-box;
	position: relative;
}
html,body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: lightgray;
	width: 100%;
}
main{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
}
img{
	width: 80%;
	margin-bottom: 12px;
}
section{
	background: #fff;
	padding: 10px;
	margin: 7px;
}
.sec1{
	width: 60%;
	/*height: 30%;*/
	padding: 15px;
	padding-top: 5px;	
}
.sec1 h1{
	font-family: sans-serif;
}
.sec1 p{
	font-family: sans-serif;
	font-size: 15px;
}
.sec2{
	display: flex;
	width: 30%;
}
.sec2 div{
	width: 80%;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.sec2 div:last-child{
	width: 70%;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/*align-items: flex-end;*/
}
.sec2 div:first-child img{
	margin: 8px;
}
.sec2 div p{
	font-size: 11px;
	text-align: center;
}
.sec3{
	width: 29%;
	padding: 15px;
	font-family 	: serif italic;
}
.sec3 img{
	width: 49%;	
}
.sec3 p:last-child{
	text-align: right;
}
.sec4{
	display: flex;
	flex-wrap: wrap;
	width: 59%;
	/*height: 50%;*/
	font-size: 60%;
	/*margin: 7px;*/
	padding: 15px;
}
.sec4 h2{
	margin-top: 0px;
	margin-left: 10px;
	font-size: 17px;
	display: flex;
	margin-bottom: 0px;
}
.sec4 div{
	width: 48%;
	margin: 0 5px;

}
.sec4 div:last-child{
	/*margin-left: 27px;*/
}
.sec4 div h3{
	font-size: 15px;
	position: relative;
	top:0px;
	right: 10px;
	margin-left: 23px;
	margin-top: 30px;
	margin-bottom: 0;
}
.sec4 div ul{
	position: relative;
	top: 0px;
	right: 10px;
	list-style: none;
	padding: 0;
	margin-top: 2px;
}

.sec4 div ul li{
	font-size:13px;
	margin-left: 24px;
	/*margin-bottom: 0px;*/
}
.sec4 div ul li:before{
	content: "- ";
}
.sec4 div img{
	width: 70%;
	position: relative;
	top:20px;
	left: 25px;
	/*align-self: center;*/
}
.sec5{
	display: flex;
	flex-wrap: wrap;
	width: 44.95%;
	/*font-size: 15px;*/
	/*padding: 15px;*/
}
.sec5 h3{
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 15px;
}
.sec5 p{
	margin-top: 2px;
	font-size: 15px;
	/*margin-bottom: 0;*/
}
.sec6{
	width: 26%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.sec6 h3{
	width: 100%;
	font-size: 15px;
	margin-top: 5px;
	/*padding: 5px;*/
	margin-bottom: 0px;
}
.sec6 img{
	width: 85%;
}
.sec7{
	width: 15.6%;
}
.sec7 h3{
	margin-top: 5px;
	font-size: 15px;
}
.sec7 ul{
	display: flex;
	flex-direction: column;
	list-style:none;
	padding: 0px;
	margin-bottom: 0;
}
.sec7 ul li{
	color: blue;
	margin-bottom: 8px;
}
.sec7 ul li:before{
	content: "• "
}
@font-face{
	font-family: "Times New Roman - italico";
}